<div class="sign">

    <div class="signHeader col-xs-5 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">
        <h3>Saisissez vos informations dabs ce formulaire afin de s'inscrire.</h3>
    </div>


    <div class="signForm col-xs-5 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">
        <form name="registrationForm"  class="form-group col-xs-10 col-xs-offset-1" novalidate>

            <alert type="danger" ng-show="invalidForm" close="closeAlert()">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true">
                </span> 
                Echec de l'inscription. Vérifiez que vous avez bien renseigné tous les champs et que les mots de passes sont identiques. Si c'est le cas, votre identifiant ou adresse email est déjà utilisé.
            </alert>

            <div class="form-group"  ng-class="{ 'has-error': $scope.noLastName }">
                <label for="exampleInputPassword1">Votre Nom</label>
                <input type="text" 
                    class="form-control" id="lastname"  
                    ng-model="newUser.lastname" 
                    placeholder=" votre nom" 
                    required minlength="3">
            </div>


            <div class="form-group" ng-class="{ 'has-error': registrationForm.firstname.$invalid && registrationForm.firstname.$dirty }">
                <label for="firstname">Prenom</label>
                <input type="text" class="form-control" 
                    id="firstname" 
                    name="firstname" 
                    placeholder="Saisissez Votre Prenom" 
                    ng-model="newUser.firstname" 
                    required minlength="5">
            </div>


            <div class="form-group" ng-class="{ 'has-error': registrationForm.login.$invalid && registrationForm.login.$dirty }">
                <label for="login">Pseudo</label>
                <input type="text" class="form-control" 
                    id="login" 
                    name="login" 
                    placeholder="Saisissez Votre Pseudo"
                    ng-model="newUser.login" 
                    required minlength="5">
            </div>


            <div class="form-group" ng-class="{ 'has-error': registrationForm.email.$invalid && registrationForm.email.$dirty }">
                <label for="email">Email</label>
                <input type="email" 
                    class="form-control" 
                    id="email" 
                    name="email" 
                    placeholder="Saisissez Votre Email" 
                    ng-model="newUser.email" 
                    required>
                    
                <p class="help-block input-group-addon" ng-if="registrationForm.email.$error.email">Adresse mail invalid</p>
                <p class="input-group-addon" ng-show="emailAlreadyUsed">Email déjà utilisé</p>
            </div>


            <div class="form-group" ng-class="{ 'has-error': registrationForm.passwordConfirmation.$invalid && registrationForm.password.$dirty }">
                <label for="password">Mot de passe</label>
                <input type="password" 
                    class="form-control" 
                    id="password" 
                    name="password" 
                    placeholder="Saisissez CVotre Mot de passe" 
                    ng-model="newUser.password" 
                    required>
            </div>

            <div class="form-group" ng-class="{ 'has-error': registrationForm.passwordConfirmation.$invalid}">
                <label for="passwordConfirmation">Confirmation</label>
                <input type="password" 
                    class="form-control" 
                    id="passwordConfirmation" 
                    name="passwordConfirmation" 
                    placeholder="Saisissez Confirmer Mot de Passe" 
                    ng-model="newUser.passwordConfirmation" 
                    password-validate="newUser.password" required>
            </div>


            <button type="submit" class="btn btn-success" ng-click="saveNewUser(newUser)">S'incrire</button>
            <button type="reset" class="btn btn-link" ng-click="resetRegistrationForm()">Vider les champs</button>
            

        </form>
    </div>

</div>
