<div class="updateUser">

    <div class="updateTitle col-xs-5 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">
        <h3>Modification des infos de l'utilisateur</h3>
        <em>sauf mot de passe et emails: ce-ci est perso et est géré dans les profils</em>
    </div>


    <div class="signForm col-xs-5 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">
        <form name="userForm"  class="form-group col-xs-10 col-xs-offset-1" novalidate>
			
				
	
<my-info info='info'></my-info>

            <div class="form-group"  ng-class="{ 'has-error': userForm.lastname.$invalid && userForm.lastname.$dirty }">
                <label for="lastname">Nom</label>
                <input type="text" 
                    class="form-control" 
                    id="lastname"  
                    name="lastname"  
                    ng-model="user.local.lastname" 
                    required minlength="2">
            </div>


            <div class="form-group" 
            	ng-class="{ 'has-error': userForm.firstname.$invalid && userForm.firstname.$dirty }">
                <label for="firstname">Prenom</label>
                <input type="text" 
                    class="form-control" 
                    id="firstname" 
                    name="firstname" 
                    ng-model="user.local.firstname" 
                    required minlength="2">
            </div>

			<button type="submit" class="btn btn-success" ng-disabled="!userForm.$valid" ng-click="saveUser(user)">Valider</button>
            <button type="reset" class="btn btn-primary" ng-click="cancel()">Annuler</button>
			<button type="submit" class="btn btn-danger" ng-click="deleteUser(user)">Supprimer</button>
            

        </form>
    </div>

</div>
