	<div class="row rowContenu" ng-init="survol=true">
		<div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
			
			<div class="placeholders theme">

				<div id="carreThemeL" class="col-xs-12 col-sm-12 placeholder">
					<div class="text-left">RECEMMENT PUBLIES</div>					
				</div>

<!--********************************************TODO*******************************************************************-->
	<!--Design slide rigth to left-->
<!--********************************************TODO*******************************************************************-->
				<div ng-show="survol" ng-mouseenter="survol=!survol" ng-mouseleave="survol=!survol" id="carreTheme" class="col-xs-6 col-sm-6 pull-left themeOne placeholder anim" ng-click="rubrique(1)">
					<div>Dieureudieuf</div>
					<div>SERIGNE</div>
					<div>BETHIO</div>							  
				</div>
				
				<div ng-hide="survol" ng-mouseenter="survol=!survol" ng-mouseleave="survol=!survol" id="carreThemeImg" class="col-xs-6 col-sm-6 pull-left themeOneImg anim" ng-click="rubrique(1)">
					<img src="../../../../assets/images/cheikhAdiaSaliou.jpg" class="col-xs-6 col-sm-6 pull-left imgThemeOne">
					<div class="textThemeOneImg col-xs-6 col-sm-6 pull-right">
						<div>Dieureudieuf</div>
						<div>SERIGNE</div>
						<div>BETHIO</div>							
					</div>						
				</div>


				<div id="carreTheme" class="col-xs-6 col-sm-6 pull-right themeTwo placeholder"  ng-click="rubrique(1)">
					<div class="text-left">L'esprit</div>
					<div class="text-center">universel</div>							 
				</div>

				<div id="carreTheme" class="col-xs-6 col-sm-6 pull-left themeThre placeholder"  ng-click="rubrique(1)">
					Histoires sacrées
				</div>

				<div id="carreTheme" class="col-xs-6 col-sm-6 pull-right themeFour placeholder"  ng-click="rubrique(1)">
					<div>GATT</div>
					<div>SAFF!</div>
				</div>

				<div id="carreTheme" class="col-xs-6 col-sm-6 pull-left themeFive placeholder"  ng-click="rubrique(1)">
					Les plus appréciés
				</div>

				<div id="carreTheme" class="col-xs-6 col-sm-6 pull-right themeSix placeholder"  ng-click="rubrique(1)">
					L'originalité spirituelle
				</div>
			</div>
		</div>

		<!--div class="col-sm-1 col-md-2 sidebarRight sidebar">
			<div id="textSidebarRight" class="textSidebar">LES PUBLICATIONS DE GRACE</div>
		</div-->
	
	</div>
