/*
test de temporaires
*/
/*
div{
 border-width:1px;
 border-style:solid;
 border-color:black;
}*/

html{
   overflow: visible;  
   
}

body {
    padding-top: 50px;
    background-color: #CFE1F1;/* #E6EEF5;/*#AFEEEE;*/
    width: 100%;
 
    overflow: auto;
    
}


@media(min-width:768px) and (max-width: 776px){
  body {
   padding-top: 100px;
    width: 100%;
  }
}

.row{
	margin-left: 0px;
	margin-right: 0px; 
}

.blog-footer {
  padding: 40px 0;
  color: black;
  font-size: 15px;
  text-align: center;/*
  background-color: #f9f9f9;*/
  border-top: 1px solid #e5e5e5;
  color: #337ab7
}
.blog-footer p:last-child {
  margin-bottom: 0;
}
