.sign{

 }

.signHeader, .registrationHeader{
    color: #337ab7;
    text-align: center;
}

.signForm, .registrationForm{
    margin-top: 15vh;/*150px;*/
    border: 2px solid #3c763d;
    border-radius: 10px;
    padding-bottom: 30px;
    padding-top: 30px;
}


/**

Pour la registration

**/

.registration{

}

.registrationHeader{
}

.registrationForm{
}
